.border-5 {
    border-width: 10px;
    border-style: solid;
}

#ContentContainer {
    max-height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#MenuContainer {
    min-width: 300px;
    max-width: 300px;
    font-family: 'JetBrains Mono', monospace;
    background-color: aquamarine;
}

#PageContainer {
    height: 100vh;
}