{% extends 'base.html'%} {% block main %}
<h1>my projects</h1>
{% for project in my_projects %}
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{project.name}}</h5>
        <p class="card-text">{{project.description}}</p>
        <h6 class="card-text">
            {%for tag in project.tags%}
            <span class="badge rounded-pill bg-info text-dark">{{tag}}</span> {%endfor%}
        </h6>
    </div>
</div>
{%endfor%} {%endblock%}